
/* @font-face {
    font-family: Alata;
    src: url(../fonts/Alata-Regular.ttf);
    font-weight: bold;
} */
.wrapper{
  margin: 0 auto; /* Added margin for general use */
}
ul, li {
  list-style: none;
}

a{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  font-family: Alata;
}
/* Map */
.responsive-map{
  overflow: hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
/*Full screen*/
@media only screen and (min-width:1280px) {

  header{
      max-width: 100%;
      margin: 0 auto;
      height:50px;
      background-color: #1A1A1A;
      display:flex;
      position: relative;
      color:rgb(218, 213, 213);
  }

  #logo{
      background-image:url(./images/logo.png) ;
      width:222px;
      height:81px;
      top:15px;
      border:5px;
  }

  nav{
      background-color: #1A1A1A;
      display: flex;
      width: 100px;
      /* height: 522px; */
      height: 95vh;
      /* height:100%; */
      float:left;
      flex-direction: column;
      color:rgb(218, 213, 213);
  }
  nav>a{
      width:100px;
      height:30px;
      color:rgb(218, 213, 213);
  }

  nav>a:hover{
      background-color:#5e5d5b ;
  }

  nav>a>p{
      position: relative;
      left:8px;
      top:5px;
  }



  #breadcrumb{
      /*Changed to make fit for any number of items*/
      width:265px;
      height:19px;
      display: inline-flex;
      justify-content:left;
  }
  #breadcrumb>li{
      margin-right: 12px;
  }

  main{
      width:1050px;
      height:480px;
      position: relative;
      margin-left: 2.5%;
      display:flex;
  }


  .current{
      background-color:#797670 ;
  }


  #nameGreeting{
      position:absolute;
      bottom:0px;
      right:50px;
      font-size: 20px;
  }

  h1{
      /* position: relative; */
      margin: 0px auto;
      width:200px;
  }

  i:hover{
      cursor: pointer;
  }
  .mainSection{
    width: 1000px;
    max-height:554px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    /* padding-left: 34px; */
    line-height: 40px;
    }
    .mainSection>div{
        margin-right: 62px;
    }
}
/*Mid screen screen tablet*/
@media only screen and (min-width:620px) and (max-width:1280px) {
  


}

/*Mobile screen 620*/
@media only screen and (max-width:620px) {
  
}


@media only screen and (max-width:620px){
  
  
}


