
/* @font-face {
    font-family: Alata;
    src: url(../fonts/Alata-Regular.ttf);
    font-weight: bold;
} */
.wrapper{
  margin: 0 auto; /* Added margin for general use */
}
ul, li {
  list-style: none;
}

a{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  font-family: Alata;
}
/* Map */
.responsive-map{
  overflow: hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:150%;
  position:absolute;
  }
/*Full screen*/
@media only screen and (min-width:1280px) {

  header{
      max-width: 100%;
      margin: 0 auto;
      height:50px;
      background-color: #1A1A1A;
      display:flex;
      position: relative;
      color:rgb(218, 213, 213);
  }

  #logo{
      background-image:url(./images/logo.png) ;
      width:222px;
      height:81px;
      top:15px;
      border:5px;
  }

  nav{
      background-color: #1A1A1A;
      display: flex;
      width: 100px;
      /* height: 522px; */
      height: 95vh;
      /* height:100%; */
      float:left;
      flex-direction: column;
      color:rgb(218, 213, 213);
  }
  nav>a{
      width:100px;
      height:30px;
      color:rgb(218, 213, 213);
  }

  nav>a:hover{
      background-color:#5e5d5b ;
  }

  nav>a>p{
      position: relative;
      left:8px;
      top:5px;
  }


  main{
      width:100vw;
      height:800px;
      position: relative;
      margin-left: 0px;
  }


  .current{
      background-color:#797670 ;
  }
  #nameGreeting{
      position:absolute;
      bottom:0px;
      right:50px;
      font-size: 20px;
  }

  h1{
      /* position: relative; */
      margin: 0px auto;
      width:200px;
  }

  i:hover{
      cursor: pointer;
  }
  .mainSection{
    width: 1010px;
    max-height:554px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    /* padding-left: 34px; */
    line-height: 40px;
    }
    .flexsection{
      width: 700px;
      height: 500px;
    }
}

/*Login*/
#loginpage body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#afbebb;  
    font-family: 'Arial';  
}  
#loginpage .login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #5f6362;  
        border-radius: 15px ;  
          
}  
#loginpage h2{  
    text-align: center;  
    color: #303030;  
    padding: 20px;  
}  
#loginpage label{  
    color: #050505;  
    font-size: 17px;  
}  
#loginpage .inputarea{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#loginpage #log{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
  
  
}  
#loginpage span{  
    color: white;  
    font-size: 17px;  
}  

/* #logo{
  background-image:url(../images/logo.png) ;
  width:222px;
  height:81px;
  margin: 0px auto;
  display:block;
} */



/*Mid screen screen tablet*/
@media only screen and (min-width:620px) and (max-width:1280px) {
  


}

/*Mobile screen 620*/
@media only screen and (max-width:620px) {
  
}


@media only screen and (max-width:620px){
  
  
}


