.systemTableClass{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: end;
}
.googleMapClass{
    grid-column-start: 3;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: end;
    width: 100%;
    height: 100%;
}