.systemFormClass{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: end;
    width:30%;
    height: 70%;
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.inputPlaceClass{
    max-width: 250px;
}
.systemButtonsDiv{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.systemNameDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.systemAddressDiv{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.systemIpDiv{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.systemProgramDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.systemModeDiv{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.systemTypeDiv{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.systemGroupDiv{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.systemButtonsDiv{
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}